SampleMvcApp/Service References/qpServices/QuestionBankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuestionBankService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuestionBankService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="QuestionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Marks" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Options" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionNo" type="xs:int" />
      <xs:element minOccurs="0" name="RightAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionInfo" nillable="true" type="tns:QuestionInfo" />
  <xs:complexType name="ArrayOfQuestionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionInfo" nillable="true" type="tns:QuestionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionInfo" nillable="true" type="tns:ArrayOfQuestionInfo" />
</xs:schema>